/* #div_articlePreviews:last-child .article_preview{
    justify-self: ;
} */




.article_preview{
    /* background:#f4f4f4; */
    color:#f4f4f4;
    /* flex-basis:30%; */
    /* float: left; */
    /* display:flex; */
    margin: 5% 1% 0 1%;
    /* border: 3px solid #778899; */
    /* border-radius: 15px; */
    /* max-height:200px; */
    /* overflow:hidden; */
}

.div_previewImage{
    /* max-height:300px; */
    /* width:100%; */
    /* float:left; */
    margin:auto;
}

.div_previewImage img{
    width:100%;
    margin:auto;
}

.div_previewText{
    width:100%;
    float:left;
}

.article_preview *{
    /* padding:0px 8px; */
    margin:0;
}

.article_preview a{
    color:#f4f4f4;
    text-decoration:none;
}

.article_preview a:hover{
    color:#778899;
}

.article_preview h2{
    font-size:20px;
    /* margin:-5px 0px -15px 0px; */
}

.article_preview h3{
    color:#666666;
}

.article_preview time{
    color:#777777;
    font-size:12px;
}

.article_preview p{
    font-size:14px;
    /* margin:5px 0px; */
}

@media(min-width:450px){
    #div_articlePreviews{
        display:flex;
        flex-wrap:wrap;
        width:100%;
        justify-content:space-between;
        /* flex-direction:column; */
    }
}

@media(min-width:550px){
    .article_preview{
        flex-basis:48%;
    }
}


@media(min-width:870px){
    .article_preview{
        flex-basis:31%;
    }
}


@media(min-width:1100px){
    .article_preview{
        flex-basis:23%;
    }
}

/* @media(max-width:600px){
    .article_preview{
        width:100%;
        float:none;
        margin:1% 0% 1% 0%;
    }
} */
