#aside_previews{
    flex-basis:34%;
    border:3px solid #778899;
    border-radius:12px;
    padding:5px;
}

#article_main{
    flex-basis:64%;
    padding:10px 0px;
    /* border:1px solid black */
}

#div_mainImage{
    /* width:95%; */
    margin:auto;
}
#div_mainImage img{
    width:100%;
    margin:auto;
    border-radius:12px;
    }

#div_mainText p{
    padding:7px 0px;
}
#div_mainText h2{
    font-size:36px;
    line-height:.8em;
    padding:10px 0px;
    /* margin:25px 0px; */
    color:#222222;
}
#div_mainText h3,time{
    color:#bebebe;
}

.article_preview{
    flex-basis:100%;
    /* border:1px solid black; */
}

@media(min-width:512px){
    .div_content{
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap:wrap;
    /* border:1px solid black; */
}
}