/* body{
    background:rgba(51, 51, 51, 0.7);
} */

#aside_previews{
    flex-basis:34%;
    border:3px solid #527EAA;
    border-radius:12px;
    padding:10px;
}

#article_main{
    background:#f4f4f4;
    flex-basis:64%;
    border-radius:13px;
    padding:.8% 0;
    /* border:1px solid black */
}

#div_mainImage{
    width:98%;
    margin:auto;
}
#div_mainImage img{
    width:100%;
    margin:auto;
    border-radius:12px;
    }

#div_mainText img{
    width:100%;
    padding:1%;
    margin:auto;
    /* border-radius:12px; */
}

#div_mainText .div_videoWrapper{
    position:relative;
    margin:auto;
    width:98%;
    padding-bottom:55.25%;
    padding-left:1%;
    padding-right:1%;
    height:0;
}

#div_mainText .iframe_video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#div_mainText p{
    line-height:1.4em;
    padding:1.5% 3%;
    color:#333;
}
#div_mainText h2{
    font-size:36px;
    line-height:.8em;
    padding:1.5% 3%;
    /* margin:25px 0px; */
    color:#527EAA;
}
#div_mainText h3,time{
    padding:1.5% 3%;
    color:#868686;
}

.article_preview{
    flex-basis:100%;
    /* border:1px solid black; */
}

@media(min-width:1000px){
    .div_content{
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap:wrap;
    /* border:1px solid black; */
}
}