#div_footer{
    position:relative;
    /* margin-top:70px; */
    height:50px;
}

/* #footer_content{
    color:#fff;
    width:100%;
    height:200px;
    bottom:0px;
    left:0px;
    position:absolute;
} */

#footer_copyright{
    background:#4b3a26;
    color:#fff;
    text-align:center;
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    position:absolute;
}