#div_footer{
    background:#333;
    position:relative;
    margin-top:30px;
    height:50px;
    
}

/* #footer_content{
    color:#fff;
    width:100%;
    height:200px;
    bottom:0px;
    left:0px;
    position:absolute;
} */

#footer_copyright{
    /* background:#4b3a26; */
    display:flex;
    color:#fff;
    align-items:center;
    justify-content: center;
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    position:absolute;
}