
#div_headNav{
    background-color:#4b3a26;
    margin-bottom: 1%;
    /* margin-left:5%; */
    /* border-radius: 0px 0px 15px 15px; */
    /* line-height:1.6em; */
}

#header_main{
    color:#f4f4f4;
    font-size:32px;
    float:left;
    padding-left:35px;
    margin:20px 0px;
    min-width:35%;
    /* border:1px #778899 solid; */
}

#nav_main{
    margin:15px 0px;
    /* background:black; */
    float:right;
    /* text-align:right; */
    min-width:15%;
    /* height:100px; */
    /* border:1px #778899 dotted; */
    padding:10px 0px;
    /* line-height:2; */
}

#nav_main ul{
    padding:0;
}

#nav_main li{
    display:inline;
    /* margin:0; */
}

#nav_main a{
    color:#f4f4f4;
    text-decoration: none;
    font-size:18px;
    padding:26px 20px;
    margin-left:-5px;
    /* border: 1px solid #778899; */
}

#nav_main a:hover{
    /* color:lightslategray; */
    background-color:#778899;
}

/* #nav_main a:active{
    color:rgb(8, 117, 226);
} */

body.home a.home, body.articles a.articles, body.about a.about, body.contact a.contact{
    background-color:#778899;
    pointer-events: none;
    cursor: default;
}

@media(max-width:920px){
    #nav_main{
        width:100%;
        float:none;
        text-align: center;
        padding:1px 0px 0px 0px;
    }

    #nav_main a{
        padding:16px 20px;
        margin-left:-5px;
        /* border: 1px solid #778899; */
    }

    #header_main{
        width:100%;
        float:none;
        padding-left:0px;
        padding-bottom:5px;
        text-align: center;
    }

        /* Use this is setting the header for position:fixed; */
    /* #showcase{
        margin-top:114px
    } */
}