
#div_headNav{
    background-color:#333333;
    margin-bottom: 1%;
    /* margin-left:5%; */
    /* border-radius: 0px 0px 15px 15px; */
    /* line-height:1.6em; */
}

#header_main{
    color:#f4f4f4;
    font-size:46px;
    float:left;
    padding-left:35px;
    margin-top:10px;
    /* min-width:35%; */
    /* border:1px #778899 solid; */
}

#header_main h1{
    line-height:.9em;
    margin: 10px 0px;
    position:relative;
    /* padding:0px 7px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-radius:7%;
    border-color:#527EAA; */
}

#header_main h1::before, #header_main h1::after{
    content:'';
    position:absolute;
    width:5px;
    height:100%;
    /* padding:0px 4px; */
    background:#527EAA;
}

#header_main h1::before{
    /* padding:0px 4px; */
    background:#527EAA;
    border-radius:45% 0 0 45%;
    left:-7px;
}

#header_main h1::after{
    /* padding:0px 4px; */
    background:#527EAA;
    border-radius:0 45% 45% 0;
    left:103%;
}

@media(max-width:920px){
    #nav_main{
        width:100%;
        float:none;
        text-align: center;
        padding:1px 0px 0px 0px;
    }

    #nav_main a{
        padding:16px 20px;
        margin-left:-5px;
        /* border: 1px solid #778899; */
    }

    #header_main{
        width:100%;
        float:none;
        padding-left:0px;
        padding-bottom:5px;
        text-align: center;
    }

    #header_main h1::before{
        /* padding:0px 4px; */
        background:#527EAA;
        border-radius:45% 0 0 45%;
        left:50%;
        transform: translateX(-43px)
    }
    
    #header_main h1::after{
        /* padding:0px 4px; */
        background:#527EAA;
        border-radius:0 45% 45% 0;
        left:50%;
        transform: translateX(38px)

    }
    

        /* Use this is setting the header for position:fixed; */
    /* #showcase{
        margin-top:114px
    } */
}