html{
    height:100%;
}

body{
    /* background-image: linear-gradient( #4b3a26be, #4b3a26); */
    color:#f4f4f4;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height:1.2em;
    min-height:100%;
    background: url('/img/workbench2.jpg') no-repeat fixed center; 
    background-size:cover;
    position:relative;
    z-index: 1;
}

body::before{
    content: "";
    left:0;
    top:0;
    background: rgba(51, 51, 51, 0.7);
    width:100%;
    height:100%;
    position: absolute;
    z-index: -1;
}

.container{
    /* width:90%; */
    margin:auto;
    overflow:hidden;
}

#postPreviewSection{
    background:#778899
}

.div_content{
    height:100%;
    width:95%;
    padding-bottom:10px;
    background:none;
}

#h1_showcaseHeading{
    font-size: 82px;
    line-height:1em;
    text-align:center;
    padding:200px 0px;
}

#section_showcase{
    margin-bottom:-4px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#333;
}

.div_showcaseText{
    flex-basis: 50%;
    text-align:center;
    background: #333;
}

.div_showcaseText p{
    position:relative;
    font-size:48px;
    margin-left:10px;
    margin-bottom:15px;
    line-height:1.2em;
}

.div_showcaseText p::before{
    content:"";
    background:#527EAA;
    width:100%;
    height: 4px;
    left:0;
    top:58px;
    position:absolute;
    border-radius:45% 45% 45% 45%;
}

.div_showcaseImg{
    flex-basis: 50%;
    /* border-radius:50%; */
    /* height:500px; */
}

.div_showcaseImg img{
    width:100%;
    /* border-radius:30%; */
}

#section_main{
    /* color:#333333; */
    float:left;
    width:70%;
    margin: 15px 0px 15px 0px;
    box-sizing:border-box;
}

#aside_main{
    float:right;
    width:30%;
    background:#333;
    color:#f4f4f4;
    margin:15px 0px 15px 0px;
    padding:10px;
    box-sizing: border-box;
    border-radius:10px;
}


@media(min-width:1100px){
    .container{
        max-width:1400px;
    }
}

@media(max-width:600px){
    #section_showcase{
        /* width:100%; */
        /* float:none; */
        display:inline;
    }
    #section_main{
        width:100%;
        float:none;
    }
    #aside_main{
        width:100%;
        float:none;
    }
}