<script>
    let navLinks = $("#nav_main [href]");
</script>
<header id="header_main">
    <h1>MD</h1>
</header>
<nav id="nav_main">
    <ul>
        <li><a class="home" href="/"><span class="text">Home</span><span class="icon"><i class="fas fa-home"></i></span></a></li>
        <li><a class="about" href="/about/"><span class="text">About</span><span class="icon"><i class="fas fa-user"></i></span></a></li>
        <li><a class="articles" href="/articles"><span class="text">Articles</span><span class="icon"><i class="fas fa-newspaper"></i></span></a></li>
        <li><a class="gallary" href="/gallary"><span class="text">Gallary</span><span class="icon"><i class="fas fa-images"></i></span></a></li>
        <li><a class="contact" href="#"><span class="text">contact</span><span class="icon"><i class="fas fa-envelope-open-text"></i></span></a></li>
    </ul>
</nav>